h2 {margin-bottom: 15px;
text-align: center;
}
.threeimages{position: absolute;
top: 40%;
left: 0%;
}
.back {position: relative;
  width: 100%
}
.about{font-weight: 700;
line-height: 74px;
}
.fivemonth{top: 20%;
left: 0%;
position: absolute;
}
.headerlist{
  display: inline;
padding-right: 1px;
margin-right: 1px;
padding-left: 1px;
margin-left: 1px;
}
.headerul{display: flex;
justify-content: space-between;
width: 50%;
align-items: center;
}
.about{background-color: orange;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.about1{background-color: orange;
  margin-top: 0px;
  padding-top: 0px;
}
.header{top: 0px;
}
